<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HP5071Alogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <HP5071Alogger.Properties.Settings>
            <setting name="ComPort1" serializeAs="String">
                <value>COM16</value>
            </setting>
            <setting name="ComPort2" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LogIntervall" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogIntervallTolerance" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LogFileExtension" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Temp</value>
            </setting>
            <setting name="Name1" serializeAs="String">
                <value>SY5071A</value>
            </setting>
            <setting name="Name2" serializeAs="String">
                <value>AG5071A</value>
            </setting>
            <setting name="Name3" serializeAs="String">
                <value>HP5071A</value>
            </setting>
            <setting name="ComPort3" serializeAs="String">
                <value>COMxx</value>
            </setting>
            <setting name="ComPort4" serializeAs="String">
                <value>COMyy</value>
            </setting>
            <setting name="ComPort5" serializeAs="String">
                <value>COMzz</value>
            </setting>
            <setting name="LogFileBaseName1" serializeAs="String">
                <value>SY5071A_v1</value>
            </setting>
            <setting name="LogFileBaseName2" serializeAs="String">
                <value>AG5071A_v2</value>
            </setting>
            <setting name="LogFileBaseName3" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="LogFileBaseName4" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="LogFileBaseName5" serializeAs="String">
                <value>dummy</value>
            </setting>
            <setting name="CsvDelimiter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="Name4" serializeAs="String">
                <value>MM00004</value>
            </setting>
            <setting name="Name5" serializeAs="String">
                <value>MM00005</value>
            </setting>
        </HP5071Alogger.Properties.Settings>
    </applicationSettings>
</configuration>